.error {
    color: red;
}
.search-container input {
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
}
.search-container button{
    padding: 5px;
    border-radius: 12px;
    position: absolute;
    right: 0;
    top: 2px;
}
.thead {
    background-color: gray;
}